.header {
  display: flex;
  height: 144px;
  background-color: #011827;
}

.header__logo {
  width: 128px;
  height: 82px;
  margin: 0 27px 0 13px;
  margin-top: 26px;
  object-fit: cover;
}

.header__logoText {
  width: 100px;
  font-weight: bold;
  font-size: 24px;
  margin-top: 25px;
  color: white;
}
@media screen and (min-width: 800px) {
  .header__logoText {
    width: auto;
    font-size: 40px;
    margin-top: 61px;
  }
}

.nav {
  width: 84%;
  height: 72px;
  padding: 0 8%;
  display: none;
  justify-content: space-evenly;
  align-items: center;
  background-color: #011827;
}
@media screen and (min-width: 800px) {
  .nav {
    display: flex;
  }
}

.nav__link {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.nav__link:hover {
  color: #8ACFE5;
}

.buttonGroupTop {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: auto 96px auto;
  margin-bottom: 67px;
}
@media screen and (min-width: 800px) {
  .buttonGroupTop {
    grid-template-columns: auto 308px 17px 308px auto;
    grid-template-rows: auto auto;
    margin-bottom: 109px;
  }
}

.buttonGroupTop__image {
  width: 100%;
  height: auto;
  min-height: 274px;
  max-height: 468px;
  grid-column: 1/4;
  object-fit: cover;
  margin-bottom: 35px;
}
@media screen and (min-width: 800px) {
  .buttonGroupTop__image {
    grid-column: 1/6;
    grid-row: 1/3;
  }
}
@media screen and (min-width: 1920px) {
  .buttonGroupTop__image {
    max-height: 600px;
  }
}
@media screen and (min-width: 2560px) {
  .buttonGroupTop__image {
    max-height: 900px;
  }
}

.buttonGroupTop__onSiteChallengesButton {
  grid-row: 2/3;
  grid-column: 2/3;
}
@media screen and (min-width: 800px) {
  .buttonGroupTop__onSiteChallengesButton {
    grid-column: 4/5;
    grid-row: 2/3;
  }
}

.buttonGroupTop__onlineChallengesButton {
  grid-row: 3/4;
  grid-column: 2/3;
  justify-self: center;
}
@media screen and (min-width: 800px) {
  .buttonGroupTop__onlineChallengesButton {
    grid-column: 2/3;
    grid-row: 2/3;
  }
}

.buttonGroupTop__onlineChallengesButton, .buttonGroupBottom__onlineChallengesButton {
  width: 150px;
  height: 20px;
  background: none;
  border: none;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: bold;
  text-decoration: underline;
  color: #36769D;
}
@media screen and (min-width: 800px) {
  .buttonGroupTop__onlineChallengesButton, .buttonGroupBottom__onlineChallengesButton {
    width: 308px;
    height: 66px;
    background-color: #E3170A;
    text-decoration: none;
    color: white;
    border: none;
    border-radius: 4px;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 24px;
  }
}

.buttonGroupTop__onSiteChallengesButton, .buttonGroupBottom__onSiteChallengesButton {
  width: 308px;
  height: 66px;
  background-color: #8ACFE5;
  border: none;
  border-radius: 4px;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 24px;
}

.buttonGroupBottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-bottom: 56px;
}
@media screen and (min-width: 800px) {
  .buttonGroupBottom {
    flex-direction: row-reverse;
    justify-self: center;
    gap: 17px;
    margin-bottom: 82px;
  }
}

.reviews {
  display: grid;
  grid-auto-flow: column;
  gap: 21px;
  padding: 0 20px 0;
  margin-bottom: 105px;
}

.review1 {
  max-width: 522px;
  display: grid;
  grid-auto-flow: row;
  grid-column: 1/2;
  justify-self: center;
}
@media screen and (min-width: 800px) {
  .review1 {
    justify-self: right;
  }
}

.review2 {
  max-width: 522px;
  display: none;
  grid-auto-flow: row;
  grid-column: 2/3;
  justify-self: left;
}
@media screen and (min-width: 800px) {
  .review2 {
    display: grid;
  }
}

.review__icon {
  grid-column: 1/2;
  grid-row: 1/3;
  margin-right: 22px;
}

.review__text {
  grid-column: 2/3;
  grid-row: 1/2;
  margin: 0;
  font-style: italic;
  font-size: 24px;
}

.review__info {
  grid-column: 2/3;
  grid-row: 2/3;
  margin: 8px 0 0;
}

.challenges {
  max-width: 1280px;
  display: grid;
  grid-auto-flow: column;
  gap: 20px;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 10px 20px;
  margin: 35px 0;
}
@media screen and (min-width: 480px) {
  .challenges {
    padding: 10px 52px;
    gap: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .challenges {
    overflow-x: hidden;
    margin: 85px auto;
    justify-content: center;
  }
}

.challenge {
  width: 363px;
  height: 446px;
  display: grid;
  grid-auto-flow: row;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.challenge__image {
  width: 100%;
  height: 219px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.challenge__title {
  padding: 0 17px 0 18px;
  font-weight: normal;
  font-size: 28px;
  padding-top: 12px;
  margin: 0;
}

.rating {
  padding: 0 17px 0 18px;
  display: flex;
}
@media screen and (min-width: 1280px) {
  .rating {
    padding-right: 11px;
  }
}

.rating__star {
  margin: 0 5px;
  width: 14px;
  height: 14px;
}

.rating__participants {
  margin: 0 0 0 9px;
  font-size: 14px;
}
@media screen and (min-width: 1280px) {
  .rating__participants {
    margin-left: auto;
  }
}

.challenge__description {
  padding: 0 17px 0 18px;
  margin: 18px 0 23px;
  font-size: 18px;
}

.challenge__bookButton {
  border: none;
  border-radius: 4px;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 24px;
  justify-self: right;
  font-size: 16px;
  width: 179px;
  height: 44px;
  margin: 0 18px 12px 0;
  color: white;
  background-color: #E3170A;
}

.story {
  height: 500px;
  padding: 0 25px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  color: white;
  text-align: center;
  background-color: #011827;
}

.story__text {
  max-width: 632px;
  margin: 0;
  font-size: 28px;
}

.story__readFullStoryButton {
  border: none;
  border-radius: 4px;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 24px;
  width: 308px;
  height: 66px;
  border: 2px solid #8ACFE5;
  background-color: #011827;
  color: #8ACFE5;
}

.details {
  max-width: 1280px;
  display: grid;
  grid-template-rows: auto;
  margin-bottom: 36px;
}
@media screen and (min-width: 1000px) {
  .details {
    grid-template-columns: 50% 50%;
    grid-auto-flow: row;
    margin-bottom: 183px;
  }
}
@media screen and (min-width: 1280px) {
  .details {
    margin: 0 auto 183px;
  }
}

.details__image1, .details__image2 {
  width: 100%;
  height: auto;
  max-height: 460px;
  object-fit: cover;
}
@media screen and (min-width: 1000px) {
  .details__image1, .details__image2 {
    max-width: 640px;
    height: 100%;
  }
}

@media screen and (min-width: 1000px) {
  .details__image2 {
    grid-column: 2/3;
    grid-row: 2/3;
  }
}

.indepthOnSite, .indepthOnline {
  padding: 0 20px;
  margin: 30px 0 64px 0;
}
@media screen and (min-width: 1000px) {
  .indepthOnSite, .indepthOnline {
    height: 346px;
    width: 416px;
    margin: 57px auto;
    padding: 0;
  }
}

.indepthOnSite__title, .indepthOnline__title {
  margin: 0;
  font-size: 32px;
}

.indepthOnSite__description, .indepthOnline__description {
  margin: 30px 0 55px;
  font-size: 24px;
}
@media screen and (min-width: 1000px) {
  .indepthOnSite__description, .indepthOnline__description {
    margin: 25px 0;
  }
}

.indepthOnSite__bookButton, .indepthOnline__seeChallengesButton {
  border: none;
  border-radius: 4px;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 24px;
  width: 308px;
  height: 66px;
  color: white;
  background-color: #E3170A;
}

.footer {
  padding: 65px 20px;
  color: white;
  background-color: #011827;
}
@media screen and (min-width: 800px) {
  .footer {
    padding: 146px 109px 167px;
  }
}

.footer__content {
  max-width: 1062px;
  display: grid;
  grid-auto-flow: row;
  gap: 10px;
  margin: 0 auto;
}
@media screen and (min-width: 800px) {
  .footer__content {
    grid-auto-flow: column;
  }
}

.footerInfo {
  max-width: 439px;
}
@media screen and (min-width: 800px) {
  .footerInfo {
    max-width: 416px;
  }
}

.footerInfo, .siteMap {
  margin-bottom: 40px;
}
@media screen and (min-width: 800px) {
  .footerInfo, .siteMap {
    margin: 0;
  }
}

.footerInfo__title, .siteMap__title, .socials__title {
  font-size: 18px;
  margin: 0 0 7px;
}

.footerInfo__text {
  margin: 0;
  font-size: 18px;
}

.siteMap, .socials {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 800px) {
  .siteMap, .socials {
    justify-self: center;
  }
}

.siteMap a:nth-of-type(3) {
  margin-bottom: 23px;
}

.siteMap__link, .socials__link {
  text-decoration: none;
  color: white;
}

html, body {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
}

.app {
  font-family: "Roboto";
}

.app__challengesTitle {
  margin: 0;
  padding: 0 25px 0;
  font-size: 32px;
  font-weight: normal;
  text-align: center;
}
