.header {
  display: flex;
  height: 144px;
  background-color: #011827;
}

.header__logo {
  width: 128px;
  height: 82px;
  margin: 0 27px 0 13px;
  margin-top: 26px;
  object-fit: cover;
}

.header__logoText {
  font-weight: bold;
  color: white;
}

@media screen and (max-width: 790px) {
  .header__logoText {
    font-size: 24px;
    margin-top: 25px;
    margin-right: calc(100vw - 250px);
  }
}
@media screen and (min-width: 792px) {
  .header__logoText {
    font-size: 40px;
    margin-top: 61px;
    margin-right: 0;
  }
}
.headerButtons {
  width: 66%;
  height: 72px;
  padding: 0 17% 0 17%;
  display: flex;
  justify-self: center;
  justify-content: space-between;
  align-items: center;
  background-color: #011827;
}

.headerButtons__button {
  border: none;
  background: none;
  font-family: "Roboto";
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.headerButtons__button:hover {
  color: #8ACFE5;
}

@media screen and (max-width: 790px) {
  .headerButtons {
    display: none;
  }
}
body {
  margin: 0;
  padding: 0;
}

.app {
  font-family: "Roboto";
}
