.header {
  display: flex;
  height: 144px;
  background-color: #011827;
}

.header__logo {
  width: 128px;
  height: 82px;
  margin: 0 27px 0 13px;
  margin-top: 26px;
  object-fit: cover;
}

.header__logoText {
  font-weight: bold;
  font-size: 24px;
  margin-top: 25px;
  margin-right: calc(100vw - 250px);
  color: white;
}
@media screen and (min-width: 800px) {
  .header__logoText {
    font-size: 40px;
    margin-top: 61px;
    margin-right: 0;
  }
}

.headerButtons {
  width: 66%;
  height: 72px;
  padding: 0 17% 0 17%;
  display: none;
  justify-self: center;
  justify-content: space-between;
  align-items: center;
  background-color: #011827;
}
@media screen and (min-width: 800px) {
  .headerButtons {
    display: flex;
  }
}

.headerButtons__button {
  border: none;
  background: none;
  font-family: "Roboto";
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.headerButtons__button:hover {
  color: #8ACFE5;
}

.buttonGroupTop {
  display: grid;
  grid-template-columns: calc((100vw - 308px) / 2) 308px calc((100vw - 308px) / 2);
  grid-template-rows: auto 96px auto;
  margin-bottom: 67px;
}
@media screen and (min-width: 800px) {
  .buttonGroupTop {
    grid-template-columns: calc((100vw - 633px) / 2) 308px 17px 308px calc((100vw - 633px) / 2);
    grid-template-rows: auto auto;
    margin-bottom: 109px;
  }
}

.buttonGroupTop__image {
  grid-column: 1/4;
  width: 100%;
  height: auto;
  min-height: 274px;
  max-height: 650px;
  object-fit: cover;
  margin-bottom: 35px;
}
@media screen and (min-width: 800px) {
  .buttonGroupTop__image {
    grid-column: 1/6;
    grid-row: 1/3;
  }
}

.buttonGroupTop__onSiteChallengesButton {
  grid-row: 2/3;
  grid-column: 2/3;
}
@media screen and (min-width: 800px) {
  .buttonGroupTop__onSiteChallengesButton {
    grid-column: 4/5;
    grid-row: 2/3;
  }
}

.buttonGroupTop__onlineChallengesButton {
  grid-row: 3/4;
  grid-column: 2/3;
  justify-self: center;
}
@media screen and (min-width: 800px) {
  .buttonGroupTop__onlineChallengesButton {
    grid-column: 2/3;
    grid-row: 2/3;
  }
}

.buttonGroupTop__onlineChallengesButton, .buttonGroupBottom__onlineChallengesButton {
  width: 150px;
  height: 20px;
  background: none;
  border: none;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: bold;
  text-decoration: underline;
  color: #36769D;
}
@media screen and (min-width: 800px) {
  .buttonGroupTop__onlineChallengesButton, .buttonGroupBottom__onlineChallengesButton {
    width: 308px;
    height: 66px;
    background-color: #E3170A;
    text-decoration: none;
    color: white;
    border: none;
    border-radius: 4px;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 24px;
  }
}

.buttonGroupTop__onSiteChallengesButton, .buttonGroupBottom__onSiteChallengesButton {
  width: 308px;
  height: 66px;
  background-color: #8ACFE5;
  border: none;
  border-radius: 4px;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 24px;
}

.buttonGroupBottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-bottom: 56px;
}
@media screen and (min-width: 800px) {
  .buttonGroupBottom {
    flex-direction: row-reverse;
    justify-self: center;
    gap: 17px;
    margin-bottom: 82px;
  }
}

.reviews {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  gap: 21px;
  padding: 0 20.5px 0;
  margin-bottom: 105px;
}

.review1 {
  display: grid;
  grid-column: 1/2;
  justify-self: right;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  max-width: 522px;
}

.review2 {
  display: none;
  grid-column: 2/3;
  justify-self: left;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  max-width: 522px;
}
@media screen and (min-width: 850px) {
  .review2 {
    display: grid;
  }
}

.review__icon {
  grid-column: 1/2;
  grid-row: 1/3;
  margin-right: 22px;
}

.review__text {
  grid-column: 2/3;
  grid-row: 1/2;
  margin: 0;
  font-style: italic;
  font-size: 24px;
}

.review__info {
  grid-column: 2/3;
  grid-row: 2/3;
  margin: 8px 0 0;
}

.challenges {
  max-width: 1280px;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 363px;
  gap: 38px;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 10px 52.07px;
  margin: 34px 0 37px 0;
}
@media screen and (min-width: 1280px) {
  .challenges {
    gap: 41px;
    overflow-x: hidden;
    padding: 10px calc((100vw - 1171px) / 2) 10px calc((100vw - 1171px) / 2);
    margin: 86px 0 87px 0;
  }
}

.challenge {
  width: 363px;
  height: 446px;
  display: grid;
  grid-template-columns: auto;
  grid-auto-flow: row;
  grid-auto-rows: auto;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.challenge__image {
  width: 100%;
  height: 219px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.challenge__title {
  padding: 0 17px 0 18px;
  font-weight: normal;
  font-size: 28px;
  padding-top: 12px;
  margin: 0;
}

.rating {
  padding: 0 17px 0 18px;
  display: flex;
}

.rating__star {
  margin: 0 5px 0 5px;
  width: 14px;
  height: 14px;
}

.rating__participants {
  margin: 0 0 0 9px;
  font-size: 14px;
}

.challenge__description {
  padding: 0 17px 0 18px;
  margin: 18px 0 23px 0;
  font-size: 18px;
}

.challenge__bookButton {
  border: none;
  border-radius: 4px;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 24px;
  justify-self: right;
  font-size: 16px;
  width: 179px;
  height: 44px;
  margin: 0 18px 12px 0;
  color: white;
  background-color: #E3170A;
}

html, body {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
}

.app {
  font-family: "Roboto";
}

.app__challengesTitle {
  margin: 0;
  font-size: 32px;
  font-weight: normal;
  text-align: center;
}
