.header {
  display: flex;
  height: 144px;
  background-color: #011827;
}

.header__logo {
  width: 128px;
  height: 82px;
  margin: 0 27px 0 13px;
  margin-top: 26px;
  object-fit: cover;
}

.header__logoText {
  font-weight: bold;
  font-size: 24px;
  margin-top: 25px;
  margin-right: calc(100vw - 250px);
  color: white;
}
@media screen and (min-width: 800px) {
  .header__logoText {
    font-size: 40px;
    margin-top: 61px;
    margin-right: 0;
  }
}

.headerButtons {
  width: 66%;
  height: 72px;
  padding: 0 17% 0 17%;
  display: none;
  justify-self: center;
  justify-content: space-between;
  align-items: center;
  background-color: #011827;
}
@media screen and (min-width: 800px) {
  .headerButtons {
    display: flex;
  }
}

.headerButtons__button {
  border: none;
  background: none;
  font-family: "Roboto";
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.headerButtons__button:hover {
  color: #8ACFE5;
}

.buttonGroupTop {
  display: grid;
  grid-template-columns: calc((100vw - 308px) / 2) 308px calc((100vw - 308px) / 2);
  grid-template-rows: auto 96px auto;
  margin-bottom: 67px;
}
@media screen and (min-width: 800px) {
  .buttonGroupTop {
    grid-template-columns: calc((100vw - 633px) / 2) 308px 17px 308px calc((100vw - 633px) / 2);
    grid-template-rows: auto auto;
    margin-bottom: 109px;
  }
}

.buttonGroupTop__image {
  grid-column: 1/4;
  width: 100%;
  height: auto;
  min-height: 274px;
  max-height: 650px;
  object-fit: cover;
  margin-bottom: 35px;
}
@media screen and (min-width: 800px) {
  .buttonGroupTop__image {
    grid-column: 1/6;
    grid-row: 1/3;
  }
}

.buttonGroupTop__onSiteChallengesButton {
  grid-row: 2/3;
  grid-column: 2/3;
}
@media screen and (min-width: 800px) {
  .buttonGroupTop__onSiteChallengesButton {
    grid-column: 4/5;
    grid-row: 2/3;
  }
}

.buttonGroupTop__onlineChallengesButton {
  grid-row: 3/4;
  grid-column: 2/3;
  justify-self: center;
}
@media screen and (min-width: 800px) {
  .buttonGroupTop__onlineChallengesButton {
    grid-column: 2/3;
    grid-row: 2/3;
  }
}

.buttonGroupTop__onlineChallengesButton, .buttonGroupBottom__onlineChallengesButton {
  width: 150px;
  height: 20px;
  background: none;
  border: none;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: bold;
  text-decoration: underline;
  color: #36769D;
}
@media screen and (min-width: 800px) {
  .buttonGroupTop__onlineChallengesButton, .buttonGroupBottom__onlineChallengesButton {
    width: 308px;
    height: 66px;
    background-color: #E3170A;
    text-decoration: none;
    color: white;
    border: none;
    border-radius: 4px;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 24px;
  }
}

.buttonGroupTop__onSiteChallengesButton, .buttonGroupBottom__onSiteChallengesButton {
  width: 308px;
  height: 66px;
  background-color: #8ACFE5;
  border: none;
  border-radius: 4px;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 24px;
}

.buttonGroupBottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-bottom: 56px;
}
@media screen and (min-width: 800px) {
  .buttonGroupBottom {
    flex-direction: row-reverse;
    justify-self: center;
    gap: 17px;
    margin-bottom: 82px;
  }
}

body {
  margin: 0;
  padding: 0;
}

.app {
  font-family: "Roboto";
}
