@use '../lib.scss' as *;

.buttonGroupTop, .buttonGroupBottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.buttonGroupTop {
    @include from-width($screen_width_800) {
        display: grid;
        grid-template-columns: auto 308px 308px auto;
        grid-template-rows: auto auto;
        gap: 0 18px;
    }
}

.buttonGroupTop__image {
    width: 100%;
    height: auto;
    min-height: 274px;
    max-height: 468px;
    grid-column: 1 / 4;
    object-fit: cover;
    margin-bottom: 5px;

    @include from-width($screen_width_800) {
        margin-bottom: 35px;
        grid-column: 1 / 5;
        grid-row: 1 / 3;
    }

    @include from-width(1920px) {
        max-height: 600px;
    }

    @include from-width(2560px) {
        max-height: 900px;
    }
}

.buttonGroupTop__onSiteChallengesButton {
    grid-row: 2 / 3;
    grid-column: 2 / 3;

    @include from-width($screen_width_800) {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
    }
}

.buttonGroupTop__onlineChallengesButton {
    grid-row: 3 / 4;
    grid-column: 2 / 3;

    @include from-width($screen_width_800) {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
}

@mixin text-button {
    width: 150px;
    height: 20px;
    background: none;
    border: none;
    font-family: $specification_font;
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
    color: $specification_color_flatBlue;
}

.buttonGroupTop__onlineChallengesButton, .buttonGroupBottom__onlineChallengesButton {
    @include text-button;

    @include from-width($screen_width_800) {
        width: $block_button_large_width;
        height: $block_button_large_height;
        background-color: $specification_color_red;
        text-decoration: none;
        color: white;
        @include block-button-template;
    }
}

.buttonGroupTop__onSiteChallengesButton, .buttonGroupBottom__onSiteChallengesButton {
    width: $block_button_large_width;
    height: $block_button_large_height;
    background-color: $specification_color_lightBlue;
    @include block-button-template;
}

.buttonGroupBottom {
    margin-bottom: 56px;

    @include from-width($screen_width_800) {
        flex-direction: row-reverse;
        justify-self: center;
        gap: 17px;
        margin-bottom: 82px;
    }
}