@use '../lib.scss' as *;

.carousel {
    overflow-x: auto;
    overflow-y: hidden;
}

.challenges {
    max-width: 1170px;
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 10px 20px;
    margin: 35px 0;

    @include from-width($screen_width_480) {
        padding: 10px 52px;
        gap: 40px;
    }

    @include from-width($screen_width_800) {
        margin: 85px auto;
    }

    @include from-width($screen_width_1280) {
        overflow-x: hidden;
        justify-content: center;
    }
}

.carouselHeader__heading {
    margin: 0;
    padding: 0 25px 0;
    font-size: 32px;
    font-weight: normal;
    text-align: center;
}

.challenge {
    width: 363px;
    height: 446px;
    display: grid;
    grid-auto-flow: row;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.challengeHeader__image {
    width: 100%;
    height: 219px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

@mixin challenge-content-padding {
    padding: 0 17px;
}

.challengeHeader__heading {
    @include challenge-content-padding;
    font-weight: normal;
    font-size: 28px;
    padding-top: 12px;
    margin: 0;
}

.rating {
    @include challenge-content-padding;
    display: flex;

    @include from-width($screen_width_1280) {
        padding-right: 11px;
    }
}

.rating__star {
    margin: 0 5px;
    width: 14px;
    height: 14px;
}

.rating__participants {
    margin: 0 0 0 9px;
    font-size: 14px;

    @include from-width($screen_width_1280) {
        margin-left: auto;
    }
}

.challenge__description {
    @include challenge-content-padding;
    margin: 18px 0 23px;
    font-size: 18px;
}

.challenge__bookButton {
    @include button-template;
    justify-self: right;
    font-size: 16px;
    width: 179px;
    height: 44px;
    margin: 0 18px 12px 0;
    color: white;
    background-color: $specification_color_red;
}