@use '../lib.scss' as *;

.challenges {
    max-width: 1280px;
    display: grid;
    grid-auto-flow: column;
    gap: 40px;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 10px 52px;
    margin: 35px 0;

    @include resolutionThresholdX(1280px) {
        overflow-x: hidden;
        margin: 85px auto;
        justify-content: center;
    }
}

.challenge {
    width: 363px;
    height: 446px;
    display: grid;
    grid-auto-flow: row;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.challenge__image {
    width: 100%;
    height: 219px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

@mixin challengePadding {
    padding: 0 17px 0 18px;
}

.challenge__title {
    @include challengePadding;
    font-weight: normal;
    font-size: 28px;
    padding-top: 12px;
    margin: 0;
}

.rating {
    @include challengePadding;
    display: flex;

    @include resolutionThresholdX(1280px) {
        padding-right: 11px;
    }
}

.rating__star {
    margin: 0 5px;
    width: 14px;
    height: 14px;
}

.rating__participants {
    margin: 0 0 0 9px;
    font-size: 14px;

    @include resolutionThresholdX(1280px) {
        margin-left: auto;
    }
}

.challenge__description {
    @include challengePadding;
    margin: 18px 0 23px;
    font-size: 18px;
}

.challenge__bookButton {
    @include blockButtonTemplate;
    justify-self: right;
    font-size: 16px;
    width: 179px;
    height: 44px;
    margin: 0 18px 12px 0;
    color: white;
    background-color: $specification_color_red;
}