@use '../lib.scss' as *;

.details {
    max-width: 1280px;
    display: grid;
    grid-template-rows: auto;
    margin-bottom: 36px;

    @include resolutionThresholdX(1000px) {
        grid-template-columns: 50% 50%;
        grid-auto-flow: row;
        margin-bottom: 183px;
    }

    @include resolutionThresholdX(1280px) {
        margin: 0 auto 183px;
    }
}

.details__image1, .details__image2 {
    width: 100%;
    height: auto;
    max-height: 460px;
    object-fit: cover;

    @include resolutionThresholdX(1000px) {
        max-width: 640px;
        height: 100%;
    }
}

.details__image2 {
    @include resolutionThresholdX(1000px) {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
}

.indepthOnSite, .indepthOnline {
    padding: 0 20px;
    margin: 30px 0 64px 0;

    @include resolutionThresholdX(1000px) {
        height: 346px;
        width: 416px;
        margin: 57px auto;
        padding: 0;
    }
}

.indepthOnSite__title, .indepthOnline__title {
    margin: 0;
    font-size: 32px;
}

.indepthOnSite__description, .indepthOnline__description {
    margin: 30px 0 55px;
    font-size: 24px;

    @include resolutionThresholdX(1000px) {
        margin: 25px 0;
    }
}

.indepthOnSite__bookButton, .indepthOnline__seeChallengesButton {
    @include blockButtonTemplate;
    width: $block_button_large_width;
    height: $block_button_large_height;
    color: white;
    background-color: $specification_color_red;
}