@use '../lib.scss' as *;

.footer {
    padding: 65px 20px;
    color: white;
    background-color: $specification_color_dark;

    @include resolutionThresholdX(800px) {
        padding: 146px 109px 167px;
    }
}

.footer__content {
    max-width: 1062px;
    display: grid;
    grid-auto-flow: row;
    gap: 10px;
    margin: 0 auto;
    
    @include resolutionThresholdX(800px) {
        grid-auto-flow: column;
    }
}

.footerInfo {
    max-width: 439px;
    
    @include resolutionThresholdX(800px) {
        max-width: 416px;
    }
}

.footerInfo, .siteMap {
    margin-bottom: 40px;

    @include resolutionThresholdX(800px) {
        margin: 0;
    }
}

.footerInfo__title, .siteMap__title, .socials__title {
    font-size: 18px;
    margin: 0 0 7px;
}

.footerInfo__text {
    margin: 0;
    font-size: 18px;
}

.siteMap, .socials {
    display: flex;
    flex-direction: column;

    @include resolutionThresholdX(800px) {
        justify-self: center;
    }
}

.siteMap a:nth-of-type(3) {
    margin-bottom: 23px;
}

.siteMap__link, .socials__link {
    text-decoration: none;
    color: white;
}