@use '../lib.scss' as *;

.header {
    display: flex;
    height: 144px;
    background-color: $specification_color_dark;
}

.header__logo {
    width: 128px;
    height: 82px;
    margin: 0 27px 0 13px;
    margin-top: 26px;
    object-fit: cover;
}

.header__logoText {
    width: 100px;
    font-weight: bold;
    font-size: 24px;
    margin-top: 25px;
    color: white;

    @include from-width($screen_width_800) {
        width: auto;
        font-size: 40px;
        margin-top: 61px;
    }
}

.nav {
    display: none;

    @include from-width($screen_width_800) {
        width: 84%;
        height: 72px;
        display: flex;
        flex-direction: row;
        position: relative;
        justify-content: space-evenly;
        align-items: center;
        margin: 0;
        font-size: 24px;
        box-shadow: none;
        padding: 0 8%;
        background-color: $specification_color_dark;
    }
}

.nav__link {
    text-decoration: none;
    color: white;
}

.nav__link:hover {
    color: $specification_color_lightBlue;
}