@use '../lib.scss' as *;

.header {
    display: flex;
    height: 144px;
    background-color: $specification_color_dark;
}

.header__logo {
    width: 128px;
    height: 82px;
    margin: 0 27px 0 13px;
    margin-top: 26px;
    object-fit: cover;
}

.header__logoText {
    width: 100px;
    font-weight: bold;
    font-size: 24px;
    margin-top: 25px;
    color: white;

    @include from-width($screen_width_800) {
        width: auto;
        font-size: 40px;
        margin-top: 61px;
    }
}

.nav {
    width: 84%;
    height: 72px;
    padding: 0 8%;
    display: none;
    justify-content: space-evenly;
    align-items: center;
    background-color: $specification_color_dark;

    @include from-width($screen_width_800) {
        display: flex;
    }
}

.nav__link {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.nav__link:hover {
    color: $specification_color_lightBlue;
}