@use '../lib.scss' as *;

.menu {
    width: calc(100vw - 40px);
    height: calc(100vh - 40px);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin: 20px 20px;
    padding: 0;
    font-size: 36px;
    font-weight: bold;
    list-style: none;
    background-color: $specification_color_dark;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.40);
    z-index: 2;

    @include until-height(400px) {
        font-size: 30px;
        gap: 5%;
    }
}

.menuAnimation {
    display: flex;
    flex-direction: column;
    opacity: 0;
    animation-name: menuFadeIn;
    animation-fill-mode: both;
    animation-duration: 0.2s;
    animation-delay: 0.1s;
}

@keyframes menuFadeIn {
    0% {
        transform: scale(0.98);
    }
    
    100% {
        transform: scale(1);
        opacity: 100%;
    }
}

.menu__closeButton {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 25px 25px;

    @include from-width($screen_width_800) {
        display: none;
    }
}

.buttonAnimation {
    opacity: 0%;
    animation-name: buttonFadeIn;
    animation-duration: 0.1s;
    animation-delay: 0.2s;
    animation-fill-mode: both;
}

@keyframes buttonFadeIn {
    100% {
        opacity: 100%;
    }
}

.menu__link {
    text-decoration: none;
    color: white;
}