@use '../lib.scss' as *;

.reviews {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    gap: 21px;
    padding: 0 20.5px 0;
    margin-bottom: 105px;
}

@mixin review {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    max-width: 522px;
}

.review1 {
    display: grid;
    grid-column: 1 / 2;
    justify-self: right;
    @include review;
}

.review2 {
    display: none;
    grid-column: 2 / 3;
    justify-self: left;
    @include review;

    @include resolutionThresholdX(850px) {
        display: grid;
    }
}

.review__icon {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    margin-right: 22px;
}

.review__text {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin: 0;
    font-style: italic;
    font-size: 24px;
}

.review__info {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin: 8px 0 0;
}