@use '../lib.scss' as *;

.reviews {
    display: grid;
    grid-auto-flow: column;
    gap: 21px;
    padding: 0 20px 0;
    margin: 65px 0 105px;

    @include resolutionThresholdX(800px) {
        margin: 105px 0;
    }
}

.review1 {
    max-width: 522px;
    display: grid;
    grid-auto-flow: row;
    grid-column: 1 / 2;
    justify-self: center;

    @include resolutionThresholdX(800px) {
        justify-self: right;
    }
}

.review2 {
    max-width: 522px;
    display: none;
    grid-auto-flow: row;
    grid-column: 2 / 3;
    justify-self: left;

    @include resolutionThresholdX(800px) {
        display: grid;
    }
}

.review__icon {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    margin-right: 22px;
}

.review__text {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin: 0;
    font-style: italic;
    font-size: 24px;
}

.review__info {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin: 8px 0 0;
}