@use '../lib.scss' as *;

.story {
    height: 500px;
    padding: 0 25px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    color: white;
    text-align: center;
    background-color: $specification_color_dark;
}

.story__text {
    max-width: 632px;
    margin: 0;
    font-size: 28px;
}

.story__readFullStoryButton {
    @include button-template;
    width: $block_button_large_width;
    height: $block_button_large_height;
    border: 2px solid $specification_color_lightBlue;
    background-color: $specification_color_dark;
    color: $specification_color_lightBlue;
}