$specification_font: 'Roboto';
$specification_color_red: #E3170A;
$specification_color_dark: #011827;
$specification_color_lightGray: #B6BDB5;
$specification_color_flatBlue: #36769D;
$specification_color_lightBlue: #8ACFE5;

$button_large_width: 308px;
$button_large_height: 66px;
$button_small_width: 180px;
$button_small_height: 44px;

$screen_width_480: 480px;
$screen_width_800: 800px;
$screen_width_1000: 1000px;
$screen_width_1280: 1280px;

@mixin from-width($min-width) {
    @media screen and (min-width: $min-width) {
        @content;
    }
}

@mixin until-height($max-height) {
    @media screen and (max-height: $max-height) {
        @content;
    }
}

@mixin button-template {
    border: none;
    border-radius: 4px;
    font-family: $specification_font;
    font-weight: bold;
    font-size: 24px;
    align-content: center;
    text-align: center;
    text-decoration: none;
}