$specification_font: 'Roboto';
$specification_color_red: #E3170A;
$specification_color_dark: #011827;
$specification_color_lightGray: #B6BDB5;
$specification_color_flatBlue: #36769D;
$specification_color_lightBlue: #8ACFE5;

$block_button_large_width: 308px;
$block_button_large_height: 66px;
$block_button_small_width: 180px;
$block_button_small_height: 44px;

@mixin resolutionThresholdX($min-width) {
    @media screen and (min-width: $min-width) {
        @content;
    }
}

@mixin blockButtonTemplate {
    border: none;
    border-radius: 4px;
    font-family: $specification_font;
    font-weight: bold;
    font-size: 24px;
}