$specification_font: 'Roboto';
$specification_color_red: #E3170A;
$specification_color_dark: #011827;
$specification_color_lightGray: #B6BDB5;
$specification_color_flatBlue: #36769D;
$specification_color_lightBlue: #8ACFE5;

@mixin resolutionThresholdX($min-width) {
    @media screen and (min-width: $min-width) {
        @content;
    }
}