@use 'lib.scss' as *;
@use 'sections/header.scss';
@use 'sections/buttongroup.scss';
@use 'sections/reviews.scss';
@use 'sections/challenges.scss';
@use 'sections/story.scss';
@use 'sections/details.scss';
@use 'sections/footer.scss';

html, body {
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
}

.app {
    font-family: $specification_font;
}

.backgroundAnimation::before {
    content: "";
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    animation-name: backgroundFadeOut;
    animation-duration: 0.1s;
    animation-fill-mode: both;
}

@keyframes backgroundFadeOut {
    100% {
        background: rgba(255, 255, 255, 0.6);
    }
}

.scrollLock {
    height: 100%;
    overflow: hidden;
}