@use 'lib.scss' as *;
@use 'sections/header.scss';
@use 'sections/buttongroup.scss';
@use 'sections/reviews.scss';
@use 'sections/challenges.scss';
@use 'sections/story.scss';
@use 'sections/details.scss';
@use 'sections/footer.scss';

html, body {
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
}

.app {
    font-family: $specification_font;
}

.app__challengesTitle {
    margin: 0;
    padding: 0 25px 0;
    font-size: 32px;
    font-weight: normal;
    text-align: center;
}