@use 'lib.scss' as *;
@use 'sections/header.scss';
@use 'sections/buttongroup.scss';
@use 'sections/reviews.scss';

body {
    margin: 0;
    padding: 0;
}

.app {
    font-family: $specification_font;
}