@use 'lib.scss' as *;
@use 'sections/header.scss';

body {
    margin: 0;
    padding: 0;
}

.app {
    font-family: $specification_font;
}

.app__imageTop {
    width: 100%;
    height: auto;
    min-height: 274px;
    max-height: 650px;
    object-fit: cover;
}